# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

appsettings.json

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
*.vsidx
/CCserver/CarCare/obj/Debug
CCserver/CarCare/appsettings.json

# Python
__pycache__/
*.pyc
*.pyo
.env
pyodbc.py

# Runtime folders
server/uploadedFiles/

# C# build output
client/bin/
